
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">ShopEasy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="collapsed=!collapsed" [attr.aria-expanded]=!collapsed>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'collapse':collapsed,'navbar-collapse':true}">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li  routerLinkActive="active" class="nav-item">
          <a class="nav-link"  (click)="toHome()" style="cursor: pointer;" *ngIf="isLoggedIn">Home</a>
        </li>
        <li routerLinkActive="active"  class="nav-item">
          <a class="nav-link"  (click)="onManage()" style="cursor: pointer;" *ngIf="isLoggedIn">Manage</a>
        </li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li  class="nav-item ">
          <button type="button" class="btn btn-primary" routerLink="/login"  *ngIf="!isLoggedIn">Login</button>
        </li>
        <li  class="nav-item ">
          <button type="button" class="btn btn-primary" (click)="logout()"  *ngIf="isLoggedIn">Logout</button>
        </li>
        &nbsp;
        <li  class="nav-item">
            <button type="button" class="btn btn-outline-success" (click)="showCart()" *ngIf="!InCart && isLoggedIn">Cart({{cartQuantity}})
            </button>
        </li>
      </ul>
      
      
    </div>
  </div>
</nav>